pysocks
requests
openai==1.3
depthai
opencv-python
numpy
sounddevice
pydub
scipy
numpy
sounddevice
cffi
soundfile
jupyter
jupyterlab==3.6
bqplot
pyyaml
ipywidgets==7.8.1
ipycanvas
pymongo
sidecar
roslibpy
jupyros @ git+https://github.com/RoboStack/jupyter-ros.git